.madaniyat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 120px;

  h2 {
    font-family: Unbounded;
    font-size: 40px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #020c31;
    width: 609px;

    span {
      border: 2px solid #cccccc;
      padding: 5px 10px;
      color: #fb462d;
      border-radius: 40px;
    }
  }

  .btns {
    display: flex;
    align-items: center;
    margin-top: 92px;

    .left {
      display: flex;
      align-items: center;
      border: 2px solid #fb462d;
      border-radius: 100px;
      padding: 0 10px;
      gap: 15px;
    }

    .next {
      width: 100px;
      height: 100px;
      margin-left: 8px;
      background-color: #3d55fd;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .images {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
