.hero {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  border-radius: 20px;
  background-color: #1c4cf7;
  height: 640px;
  overflow: hidden;
  position: relative;
  padding: 60px 0 0 40px;
  margin-top: 60px;

  .left {
    h1 {
      font-family: Unbounded;
      font-size: 52px;
      font-weight: 700;
      line-height: 72px;
      letter-spacing: 0em;
      width: 60%;
      color: #fafafa;
      text-transform: capitalize;
      margin: 0;

      p {
        font-size: 45px;
        background-color: #fff;
        color: #711df9;
        padding: 4px 20px;
        border-radius: 40px;
        display: inline;

        span {
          transition: all 1s;
        }
      }

      .top {
        margin-top: -100px;
        width: 0;
        height: 0;
        padding: 0;
        font-size: 0;
      }
    }

    button {
      border-radius: 40px;
      background-color: #3375ff;
      color: #fff;
      padding: 13px 33px;
      font-family: Unbounded;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      text-transform: capitalize;
      position: absolute;
      bottom: 44px;
    }

    .img {
      padding: 12px 28px;
      background-color: #fff;
      border-radius: 62px;
      cursor: pointer;
      left: 253px;
      position: absolute;

      img {
        width: 24px;
        height: 24px;
      }

      &:hover {
        background-color: #fff;
      }
    }
  }

  .image {
    position: absolute;
    right: 0;

    &-fath {
      background-image: url('../../img/Aylanalar\ 3\ ta.png');
      right: 0;
      height: 580px;
      min-width: 840px;

      img {
        position: absolute;
      }

      .girl {
        bottom: 0;
        right: 170px;
      }

      .img1 {
        top: 18px;
        right: 443px;
      }

      .img2 {
        top: 99px;
        right: 143px;
      }

      .img3 {
        bottom: 114px;
        right: 14px;
      }
    }
  }
}
