.comfort {
  display: flex;
  align-items: center;
  margin-top: 149px;
  margin-bottom: 120px;
  justify-content: space-between;

  .btns {
    display: flex;
    align-items: center;
    position: relative;
    height: 120px;

    img {
        margin-right: -20px;
        border-radius: 50%;
        position: absolute;
        left: 0;
    }

    .book {
        z-index: 3;
    }

    .ok {
        z-index: 2;
        left: 108px;
    }

    .next {
        border: 4px solid #fff;
        z-index: 1;
        left: 208px;
    }
  } 

  h2 {
    font-family: Unbounded;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: #020c31;
    max-width: 614px;
    margin-bottom: 40px;

    span {
      color: #1e129d;
      border-radius: 40px;
      padding: 5px 10px;
      border: 1px solid #cccccc;
    }
  }
}

@media screen and (max-width: 1000px) {
    .comfort {
        .girl {
            width: 400px;
            height: 300px;
        }

        h2 {
            width: 450px;
            font-size: 35px;
            line-height: 50px;
        }
    }
}

@media screen and (max-width: 360px) {
    .comfort {
        flex-direction: column;
        margin-top: 70px;
        margin-bottom: 60px;

        h2 {
            width: 100%;
            font-size: 30px;
            margin-bottom: 10px;

            br {
                display: none;
            }
        }

        .btns {
            img {
                width: 100px;
            }
        
            .ok {
                z-index: 2;
                left: 85px;
            }
        
            .next {
                border: 4px solid #fff;
                z-index: 1;
                left: 165px;
            }
        }

        .girl {
            width: 100%;
            height: auto;
            margin-top: 54px;
        }
    }
}